
.radikal {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $radikal !important;
    }
}

.radikal-light {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $radikal-light !important;
    }
}

.radikal-thin {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $radikal-thin !important;
    }
}

.radikal-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $radikal-bold !important;
    }
}

.radikal-black {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $radikal-black !important;
    }
}

.corbel {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $corbel !important;
    }
}

.corbel-i {
    h1, h2, h3, h4, h5, h6, p, a {

        font-family: $corbel-i !important;
    }
}

.corbel-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $corbel-bold !important;
    }
}

.corbel-bold-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $corbel-bold-i !important;
    }
}



