.elfsight-widget {
    .eapps-instagram-feed-posts-grid-load-more {

        color: $gold;
        text-decoration: none;
        transition: all 200ms ease-in-out;
        border: 2px solid $gold;
        border-radius: 3px;
        font-family: $cormorant-bold;
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 2px 10px;
        display: inline-block;
        margin: 10px 10px 0 0;

        &:hover {
            text-decoration: none;
            background-color: $gold;
            color: $white;
        }

    }
}

