body.page-template-default {

    #content {

        div.platter {

            article.content-page {

                h1 {

                }

                div.lead {

                    p {

                    }
                }

                div.content {

                    div.col2 {
                        margin-bottom: 60px;

                        -webkit-column-count: 2; /* Chrome, Safari, Opera */
                        -moz-column-count: 2; /* Firefox */
                        column-count: 2;

                        -webkit-column-gap: 110px; /* Chrome, Safari, Opera */
                        -moz-column-gap: 110px; /* Firefox */
                        column-gap: 110px;

                        -webkit-column-span: all; /* Chrome, Safari, Opera */
                        column-span: all;

                    }

                    div.col_fixed {
                        display: table;
                        width: 100%;

                        div.col {
                            display: inline-block;
                            width: 46%;
                            vertical-align: top;

                            &:nth-of-type(2n) {
                                padding-left: 3%;
                            }

                            &:nth-of-type(2n+1) {
                                padding-right: 3%;
                            }
                        }
                    }

                    h2, h3 {

                    }

                    h4 {

                    }

                    ul, ol {

                        li {

                        }
                    }

                    p {

                        a {

                            &:hover {

                            }
                        }

                        em {

                        }

                    }

                    blockquote {

                        p {

                        }
                    }
                }

            }

        }

    }

}