

$black: #312F2C;
$white: #FFFFFF;
$gold: #C19A58;
$gray: #B3B1AD;

$red: #E52639;
$gray-dark: #545454;
$gray-light: #F8F8F8;
$gray2: #6E6E6E;
$gray3: #3E3E3E;
$gray4: #979797;
$gray5: #d7d7d7;
$gray6: #EEEEEE;